.speedgeButton {
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    background-size: contain;
    float: right;
    pointer-events: auto;
}

.speedgeBar {
    height: 30px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: none;
    pointer-events: none;
}